li.flex.items-center.my-1.py-1 class="#{ @project == project ? "bg-gray-200" : "" }"
  .rounded-full.w-3.h-3.mx-1.bg-green-500.border-green-500.border-2
  = link_to project, tasks_path(project_id: project.id), class:"block ml-3 flex-grow"