.form {
  .input,
  .form-group {
    @apply mb-6;
  }

  fieldset {
    @apply border border-gray-700 p-4 my-6 rounded-md;
    legend {
      @apply px-2 font-bold;
    }
  }

  .checkbox,
  .radio {
    input {
      @apply inline-block;
    }
    label {
      @apply inline-block mr-1;
    }
  }

  label {
    @apply block pb-2 font-bold;
    abbr {
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  input[type="password"],
  input[type="color"],
  input[type="month"],
  input[type="week"],
  input[type="datetime"],
  input[type="datetime-local"],
  textarea,
  .input_like {
    @apply border border-black py-1 px-2 bg-white rounded;
    &:disabled,
    &.disabled {
      @apply bg-gray-100;
      @apply shadow-none;
    }
    &:focus {
    }
  }

  textarea {
    @apply w-full;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply mr-2;
  }
  
  input[type="search"] {
    @apply rounded-full;
  }

  select {
    @apply bg-white border border-black pl-2 pr-4 py-2 w-full appearance-none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 14 7"><g><g><path d="M0 0l7 7 7-7z"/></g></g></svg>')
      no-repeat;
    background-size: 10px;
    background-position: calc(100% - 6px) center;
    &:disabled {
      @apply bg-white shadow-none border-gray-300 text-gray-800;
    }
    &:focus {
    }
  }

  .field_with_errors,
  .has-danger, .error {
    input,
    select,
    textarea {
      @apply border border-red-600;
    }
    .error,
    .form-control-feedback {
      @apply text-red-600 text-sm italic;
    }
  }

  .hint {
    @apply text-gray-800 text-sm;
  }

  input.js-input-field[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

